[submodule "deps/ledger-zxlib"]
	path = deps/ledger-zxlib
	url = https://github.com/Zondax/ledger-zxlib.git
[submodule "deps/nanox-secure-sdk"]
	path = deps/nanox-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk
[submodule "deps/nanosplus-secure-sdk"]
	path = deps/nanosplus-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk
[submodule "deps/ledger-secure-sdk"]
	path = deps/ledger-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk
[submodule "deps/blake2"]
	path = deps/blake2
	url = https://github.com/Zondax/BLAKE2.git
[submodule "deps/nanos-secure-sdk"]
	path = deps/nanos-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk
